.block1 {
    background: url(../img/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Righteous', cursive;
}
.block2 {
    text-align: center;
    text-size-adjust: auto;
    font-family: 'Courgette', cursive;
    padding: 5px;
}
.block3 {
    text-align: center;
    background: url(../img/s_images.jpg);
    font-family: 'Gugi', cursive;
    text-shadow: 5px black;
}
h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bolder
}
#row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#work {
    height:150px;
    width:150px;
}
#table, th, td {
    border-spacing: 3px;
    border-collapse: inherit;
    text-align: center;
    table-layout: fixed;
}
td {
    padding: 15px;
}
#block5 {
    background: url(../img/c_image.jpg);
}
button {
    background-color: rgba(144, 255, 70, 0.623);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    font-style: italic;
}
input {
    background-color: rgba(180, 180, 180, 0.377);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px 35px; 
}
textarea {
    width: 450px;
    height: 200px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color:  rgba(180, 180, 180, 0.377);
}
.logo {
    padding: 3px;
}
sup {
    size: 1px;
}
.block4showing, .block4bshowing, .block4cshowing {
    display: none;
}
.table {
    border-spacing: 3px;
    border-collapse: separate;
    text-align: center;
    table-layout: fixed;
    font-weight: 50px;
}
::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.61);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#work  {
    size: 40px;
}
@media (min-width: 400px) {
    html {
        font-size: 18px;
    }
}
.footer {
    font-family: 'Permanent Marker', cursive;
}
#des {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}
.design .development .management {
    font-family: 'Gloria Hallelujah', cursive;
}