.block1 {
    background: url(../img/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Righteous', cursive;
}
.block2 {
    text-align: center;
    text-size-adjust: auto;
    font-family: 'Courgette', cursive;
    padding: 5px;
}
.block3 {
    text-align: center;
    background: url(../img/s_images.jpg);
    font-family: 'Gugi', cursive;
    text-shadow: 5px black;
}
h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bolder
}
#row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#work {
    height:150px;
    width:150px;
}
#table, th, td {
    border-spacing: 3px;
    border-collapse: separate;
    text-align: center;
    table-layout: fixed;
}
td {
    padding: 15px;
}
#block5 {
    background: url(../img/c_image.jpg);
}
button {
    background-color: rgba(106, 248, 213, 0.829);
    padding: 16px 55px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}
input {
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px 35px; 
}
textarea {
    width: 450px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.397);
}
.logo {
    padding: 3px;
}
sup {
    size: 1px;
}
.block4showing {
    display: none;
}
.block4bshowing {
    display: none;
}
.block4cshowing {
    display: none;
}
.table {
    border-spacing: 3px;
    border-collapse: separate;
    text-align: center;
    table-layout: fixed;
    font-weight: 50px;
}
::placeholder {
    text-align: center;
    color: rgb(255, 255, 255);
}
#work  {
    size: 40px;
}
@media (min-width: 200px) {
    div {
        font-size: 17px;
}
.footer {
    font-family: 'Permanent Marker', cursive;
}
#des {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}